<md-toolbar class="md-warn">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Select a Portal Warrior Fight</h2>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <!--All Character stats-->
  <div layout="column" layout-gt-sm="row" layout-wrap="">
    <div flex-gt-sm="50" ng-repeat="enemy in vm.enemies | orderBy:'level'">
        <md-card flex="">
          <md-card-header>
            <md-card-avatar>
              <img ng-src="images/enemies/{{enemy.img}}" alt="{{enemy.enemyName}}"/>
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title">{{enemy.enemyName}}</span>
              <span class="md-subhead">Level: {{enemy.level}}</span>
            </md-card-header-text>
          </md-card-header>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Description</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>{{enemy.description}}</p>
          </md-card-content>
          <md-card-actions layout="column" layout-align="start">
            <md-button ui-sref="battle" ng-click="vm.battleService.createBattle(enemy);">Fight</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
</md-content>
